[versions]
springBoot = "2.7.15"
hazelCast = "5.1.7"
jackson = "2.13.5"
caffeine = "2.9.3"
kotlinx = "1.6.4"
kotest = "4.4.3"
hibernateValidator = "6.2.5.Final"
kmap = "0.1.52-main.8d4a565b58"
bouncyCastle = "1.70"
jwt = "0.11.5"
kotlin = "1.9.20"
ktor = "2.2.3"

[libraries]
springBootWebflux = { group = "org.springframework.boot", name = "spring-boot-starter-webflux", version.ref = "springBoot" }
springBootSecurity = { group = "org.springframework.boot", name = "spring-boot-starter-security", version.ref = "springBoot"  }
springBootActuator = { group = "org.springframework.boot", name = "spring-boot-starter-actuator", version.ref = "springBoot"  }
springBootCache = { group = "org.springframework.boot", name = "spring-boot-starter-cache", version.ref = "springBoot"  }
springAspects = { group = "org.springframework", name = "spring-aspects" }
springWebsocket = { group = "org.springframework", name = "spring-websocket" }
springMessaging = { group = "org.springframework", name = "spring-messaging" }
springSecurityMessaging = { group = "org.springframework.security", name = "spring-security-messaging" }
springSession = { group = "org.springframework.session", name = "spring-session-core" }
hazelCast = { group = "com.hazelcast", name = "hazelcast", version.ref = "hazelCast" }
hazelCastSpring = { group = "com.hazelcast", name = "hazelcast-spring", version.ref = "hazelCast" }
jacksonKotlin = { group = "com.fasterxml.jackson.module", name = "jackson-module-kotlin", version.ref = "jackson" }
jacksonDatabind = { group = "com.fasterxml.jackson.core", name = "jackson-databind" }
jacksonSmile = { group = "com.fasterxml.jackson.dataformat", name = "jackson-dataformat-smile" }
jacksonJsr310 = { group = "com.fasterxml.jackson.datatype", name = "jackson-datatype-jsr310" }
kotlinxCoroutinesCore = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-core", version.ref = "kotlinx" }
kotlinxCoroutinesJdk8 = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-jdk8", version.ref = "kotlinx" }
kotlinxCoroutinesCoreJvm = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-core-jvm", version.ref = "kotlinx" }
kotlinxCoroutinesReactive = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-reactive", version.ref = "kotlinx" }
kotlinxCoroutinesReactor = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-reactor", version.ref = "kotlinx" }
kotlinxCoroutinesTest = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-test", version.ref = "kotlinx" }
kotlinxCollectionsImmutableJvm = { group = "org.jetbrains.kotlinx", name = "kotlinx-collections-immutable-jvm", version = "0.3.5" }
kotestAssertionsCore = { group = "io.kotest", name = "kotest-assertions-core", version.ref = "kotest" }
kotestRunnerJunit5 = { group = "io.kotest", name = "kotest-runner-junit5", version.ref = "kotest" }
kotestExtensionsSpring = { group = "io.kotest.extensions", name = "kotest-extensions-spring", version = "1.0.1" }
jupiter = { group = "org.junit.jupiter", name = "junit-jupiter" }
springBootTest = { group = "org.springframework.boot", name = "spring-boot-starter-test" }
mockk = { group = "io.mockk", name = "mockk", version = "1.13.4" }
springmockk = { group = "com.ninja-squad", name = "springmockk", version = "3.1.1" }
hibernateValidator = { group = "org.hibernate.validator", name = "hibernate-validator" }
hibernateValidatorAnnotationProcessor = { group = "org.hibernate.validator", name = "hibernate-validator-annotation-processor", version.ref = "hibernateValidator" }
hibernateValidatorCdi = { group = "org.hibernate.validator", name = "hibernate-validator-cdi", version.ref = "hibernateValidator" }
javaxServlet = { group = "javax.servlet", name = "javax.servlet-api", version = "3.1.0" }
krouch = { group = "org.taktik.couchdb", name = "krouch", version = "1.2.42-g0877ff9aa2" }
asyncJacksonHttpClient = { group = "io.icure", name = "async-jackson-http-client", version = "0.2.14-g05fa58f2eb" }
mapperProcessor = { group = "io.icure", name = "mapper-processor", version = "0.1.1-32d45af2a6" }
guava = { group = "com.google.guava", name = "guava", version = "31.1-jre" }
commonsBeanUtils = { group = "commons-beanutils", name = "commons-beanutils", version = "1.9.4" }
commonsIO = { group = "commons-io", name = "commons-io", version = "2.11.0" }
apacheCommonsLang3 = { group = "org.apache.commons", name = "commons-lang3", version = "3.12.0" }
apacheCommonsCompress = { group = "org.apache.commons", name = "commons-compress", version = "1.21" }
apacheCommonsMath3 = { group = "org.apache.commons", name = "commons-math3", version = "3.6.1" }
taktikCommons = { group = "org.taktik.commons", name = "commons-uti", version = "1.0" }
gcpAuthProvider = { group = "com.icure", name = "icure-gcp_auth_provider", version = "1.0.13-gb7ba77828a" }
taktikBoot = { group = "com.taktik.boot", name = "spring-boot-starter-gke-logging", version = "2.1.179-2746294715" }
activation = { group = "javax.activation", name = "activation", version = "1.1.1" }
jaxbApi = { group = "javax.xml.bind", name = "jaxb-api", version = "2.3.1" }
jaxbRuntime = { group = "org.glassfish.jaxb", name = "jaxb-runtime", version = "2.3.8" }
springdocWebflux = { group = "org.springdoc", name = "springdoc-openapi-webflux-ui", version = "1.6.8" }
springdocKotlin = { group = "org.springdoc", name = "springdoc-openapi-kotlin", version = "1.5.13" }
caffeine = { group = "com.github.ben-manes.caffeine", name = "caffeine", version.ref = "caffeine" }
javaxElApi = { group = "javax.el", name = "javax.el-api", version = "3.0.0" }
javaxEl = { group = "org.glassfish", name = "javax.el", version = "3.0.1-b12" }
reflections = { group = "org.reflections", name = "reflections", version = "0.9.12" }
mapstruct = { group = "org.mapstruct", name = "mapstruct", version = "1.3.1.Final" }
kmapKsp = { group = "io.icure", name = "kmap", version.ref = "kmap" }
bouncyCastleBcprov = { group = "org.bouncycastle", name = "bcprov-jdk15on", version.ref = "bouncyCastle" }
bouncyCastleBcmail = { group = "org.bouncycastle", name = "bcmail-jdk15on", version.ref = "bouncyCastle" }
jsonWebTokenApi = { group = "io.jsonwebtoken", name = "jjwt-api", version.ref = "jwt" }
jsonWebTokenImpl = { group = "io.jsonwebtoken", name = "jjwt-impl", version.ref = "jwt" }
jsonWebTokenJackson = { group = "io.jsonwebtoken", name = "jjwt-jackson", version.ref = "jwt" }
jboss = { group = "org.jboss.aerogear", name = "aerogear-otp-java", version = "1.0.0" } # 2FA
betterParse = { group = "com.github.h0tk3y.betterParse", name = "better-parse", version = "0.4.4" }
libRecur = { group = "org.dmfs", name = "lib-recur", version = "0.13.0" }
icureTestSetup = { group = "io.icure", name = "icure-e2e-test-setup", version = "0.0.24-gc854bb2431" }
ktorServerCore = { group = "io.ktor", name = "ktor-server-core-jvm", version.ref = "ktor" }
ktorServerNetty = { group = "io.ktor", name = "ktor-server-netty", version.ref = "ktor" }
ktorServerContentNegotiation = { group = "io.ktor", name = "ktor-server-content-negotiation", version.ref = "ktor" }
ktorServerWebSocket = { group = "io.ktor", name = "ktor-server-websockets", version.ref = "ktor" }
ktorSerialization = { group = "io.ktor", name = "ktor-serialization-kotlinx-json", version.ref = "ktor" }
kotlinxSerialization = { group = "org.jetbrains.kotlinx", name = "kotlinx-serialization-json", version = "1.5.0-RC" }
ktorClientCore = { group = "io.ktor", name = "ktor-client-core", version.ref = "ktor" }
ktorClientCio = { group = "io.ktor", name = "ktor-client-cio", version.ref = "ktor" }
ktorClientContentNegotiation = { group = "io.ktor", name = "ktor-client-content-negotiation", version.ref = "ktor" }
ktorClientWebSocket = { group = "io.ktor", name = "ktor-client-websockets", version.ref = "ktor" }
googleApiClient = { group = "com.google.api-client", name = "google-api-client", version = "1.33.0" }

[bundles]
springBootLibs = ["springBootWebflux", "springBootSecurity", "springBootActuator", "springBootCache"]
hazelCastLibs = ["hazelCast", "hazelCastSpring"]
jacksonLibs = ["jacksonKotlin", "jacksonDatabind", "jacksonSmile", "jacksonJsr310"]
kotlinxCoroutinesLibs = ["kotlinxCoroutinesCore", "kotlinxCoroutinesJdk8", "kotlinxCoroutinesCoreJvm", "kotlinxCoroutinesReactive", "kotlinxCoroutinesReactor"]
kotestLibs = ["kotestAssertionsCore", "kotestRunnerJunit5", "kotestExtensionsSpring"]
hibernateValidatorLibs = ["hibernateValidator", "hibernateValidatorAnnotationProcessor", "hibernateValidatorCdi"]
springSecurityLibs = ["springSecurityMessaging"]
springLibs = ["springAspects", "springWebsocket", "springMessaging"]
krouchLibs = ["krouch", "asyncJacksonHttpClient"]
commonsLibs = ["commonsBeanUtils", "commonsIO", "apacheCommonsLang3", "apacheCommonsCompress", "apacheCommonsMath3", "taktikCommons"]
xmlLibs = ["activation", "jaxbApi", "jaxbRuntime"]
swaggerLibs = ["springdocWebflux", "springdocKotlin"]
javaxElLibs = ["javaxElApi", "javaxEl"]
bouncyCastleLibs = ["bouncyCastleBcprov", "bouncyCastleBcmail"]
jsonWebTokenLibs = ["jsonWebTokenApi", "jsonWebTokenImpl", "jsonWebTokenJackson"]
ktorServerLibs = ["ktorServerCore", "ktorServerNetty", "ktorServerContentNegotiation", "ktorSerialization", "ktorServerWebSocket"]
ktorClientLibs = ["ktorClientCore", "ktorClientCio", "ktorClientContentNegotiation", "ktorClientWebSocket"]

[plugins]
kotlin = { id = "org.jetbrains.kotlin", version.ref = "kotlin" }
kotlinAllOpen = { id = "org.jetbrains.kotlin.plugin.allopen", version.ref = "kotlin" }
kotlinSpring = { id = "org.jetbrains.kotlin.plugin.spring", version.ref = "kotlin" }
springBootPlugin = { id = "org.springframework.boot", version.ref = "springBoot" }
springBootDependenciesManagement = { id = "io.spring.dependency-management", version = "1.1.0" }
ksp = { id = "com.google.devtools.ksp", version = "1.9.20-1.0.14" }
mavenRepository = { id = "com.taktik.gradle.maven-repository", version = "1.0.7" }
gitVersion = { id = "com.taktik.gradle.git-version", version = "2.0.8-gb47b2d0e35" }
helmRepository = { id = "com.taktik.gradle.helm-repository", version = "0.2.24-g9f69211aad" }
ktor = { id = "io.ktor.plugin", version.ref = "ktor" }
kotlinxSerialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
licenceReport = { id = "com.github.jk1.dependency-license-report", version = "2.0"}