<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <property scope="local" name="logFilePath" value="${logging.file.name:-_DISABLED_}" />
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.name}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.name}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- Spring -->
    <!-- logger name="org.springframework.web.reactive" level="TRACE" -->
    <!-- logger name="com.fasterxml.jackson" level="DEBUG" -->

    <logger name="org.springframework" level="INFO" />

    <logger name="io.grpc.netty" level="INFO" />
    <logger name="io.netty.util" level="INFO" />

	 <logger name="org.springframework.web.server.session" level="INFO" />
     <logger name="org.springframework.web.reactive.handler" level="INFO" />
     <logger name="org.springframework.web.reactive.result.method.annotation" level="INFO" />
     <logger name="org.springframework.web.server.handler" level="INFO" />

    <!-- iCure -->
    <logger name="org.taktik" level="INFO" />
    <logger name="org.taktik.couchdb" level="INFO" />
    <logger name="org.taktik.couchdb.ClientImpl" level="INFO" />

    <logger name="org.taktik.icure.services.external.http" level="INFO" />

    <!-- uncomment the following line to log expected errors -->
    <!-- <logger name="org.taktik.icure.services.external.rest.v1.error.WsExceptionMapper" level="DEBUG" /> -->

    <logger name="org.apache.commons" level="WARN" />

    <logger name="ch.qos.logback" level="WARN" />

    <!--logger name="org.springframework.context.annotation" level="TRACE" /-->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
        <key>logFilePath</key>
        <value>_DISABLED_</value>
    </condition>
    <if>
        <then>
            <root level="INFO">
                <appender-ref ref="CONSOLE" />
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="CONSOLE" />
            </root>
            <root level="INFO">
                <appender-ref ref="ROLLING_FILE" />
            </root>
        </else>
    </if>
</configuration>
